<?xml version="1.0"?>
<launch>
	<node pkg="bag_read_service" type="readBagService.py" name="BagServer" output="screen">
		 <!-- <param name="bag_file" value="/home/liger/temp-rosbags/reaching_x1.bag" /> -->
		 <param name="bag_file" value="/home/liger/object_grasping/MD_C1_1.bag" />	 
	</node>

	<node pkg="bag_read_service" type="clientBag.py" name="BagClient" output="screen">
		 <param name="listen_topic" value="/topic_transform" />	 
	</node>

	<!-- /topic_transform -->
	<!-- /keypoint_3d_matching -->

	
</launch>